@{
    ViewData["Title"] = "Home Page";
}
    <section class="content container-fluid">
        <div class="text-center" >
        </div>

        <div class="container-fluid text-black">

            @*<table class="col-8 text-center">
                <thead>
                    <tr><th><strong>Bank</strong></th><th><strong>Option</strong></th></tr>
                </thead>

                <tbody class="pad">
                    <tr><td>ABSA</td><td><button onclick='window.location = "@Url.Action("absa", "Home")"'>Select</button></td></tr>
                    <tr><td>African Bank</td><td><button onclick='window.location = "@Url.Action("absa", "Home")"'>Select</button></td></tr>
                    <tr><td>Albaraka Bank</td><td><button onclick='window.location = "@Url.Action("albaraka", "Home")"'>Select</button></td></tr>
                    <tr><td>Banco Sol</td><td><button onclick='window.location = "@Url.Action("absa", "Home")"'>Select</button></td></tr>
                    <tr><td>BNP Paribas</td><td><button onclick='window.location = "@Url.Action("absa", "Home")"'>Select</button></td></tr>
                    <tr><td>Bidvest Bank</td><td><button onclick='window.location = "@Url.Action("absa", "Home")"'>Select</button></td></tr>
                    <tr><td>Grobank</td><td><button onclick='window.location = "@Url.Action("absa", "Home")"'>Select</button></td></tr>
                    <tr><td>Ithala Bank</td><td><button onclick='window.location = "@Url.Action("absa", "Home")"'>Select</button></td></tr>
                    <tr><td>Sasfin Bank</td><td><button onclick='window.location = "@Url.Action("absa", "Home")"'>Select</button></td></tr>
                    <tr><td>State Bank of India</td><td><button onclick='window.location = "@Url.Action("absa", "Home")"'>Select</button></td></tr>
                    <tr><td>uBank</td><td><button onclick='window.location = "@Url.Action("absa", "Home")"'>Select</button></td></tr>
                    <tr><td>VBS Mutual Bank</td><td><button onclick='window.location = "@Url.Action("absa", "Home")"'>Select</button></td></tr>
                    <tr><td>Wonga</td><td><button onclick='window.location = "@Url.Action("absa", "Home")"'>Select</button></td></tr>

                </tbody>
            </table>*@
             <ul class="align-content-md-center">
            <li class="">
                <a class=""  asp-area="" asp-controller="Beta" asp-action="Index">ABSA</a>
            </li>
            <li class="">
                <a class=""  asp-area="" asp-controller="Beta" asp-action="Index">African Bank</a>
            </li>
            <!--albaraka bank-->
            <li class="">
                <a class="" asp-area="" asp-controller="Home" asp-action="Albaraka">Albaraka Bank</a>
            </li>
            <li class="">
                <a class=""  asp-area="" asp-controller="Beta" asp-action="Index">Banco Sol</a>
            </li>
            <li class="">
                <a class=" " asp-area="" asp-controller="Beta" asp-action="Index">BNP Paribas</a>
            </li>
            <li class="">
                <a class=""  asp-area="" asp-controller="Beta" asp-action="Index">Bidvest Bank</a>
            </li>
            <li class="">
                <a class=""  asp-area="" asp-controller="Beta" asp-action="Index">Grobank</a>
            </li>
            <li class="">
                <a class=""  asp-area="" asp-controller="Beta" asp-action="Index">Ithala Bank</a>
            </li>
            <li class="">
                <a class=""  asp-area="" asp-controller="Beta" asp-action="Index">Sasfin Bank</a>
            </li>
            <li class="">
                <a class=""  asp-area="" asp-controller="Beta" asp-action="Index"> State Bank of India </a>
            </li>
            <li class="">
                <a class=""  asp-area="" asp-controller="Beta" asp-action="Index">uBank</a>
            </li>
            <li class="n">
                <a class=""  asp-area="" asp-controller="Beta" asp-action="Index">VBS Mutual Bank</a>
            </li>
            <li class="">
                <a class=""  asp-area="" asp-controller="Beta" asp-action="Index">Wonga</a>
            </li>

        </ul>

            @*<button asp-area="" asp-controller="Home" asp-action="absa">ABSA</button>
            <button asp-area="" asp-controller="Home" asp-action="absa">African Bank</button>
            <button asp-area="" asp-controller="Home" asp-action="absa">Albaraka Bank</button>
            <button asp-area="" asp-controller="Home" asp-action="absa">Banco Sol</button>
            <button asp-area="" asp-controller="Home" asp-action="absa">BNP Paribas</button>
            <button asp-area="" asp-controller="Home" asp-action="absa">Bidvest Bank</button>
            <button asp-area="" asp-controller="Home" asp-action="absa">Grobank</button>
            <button asp-area="" asp-controller="Home" asp-action="absa">Ithala Bank</button>
            <button asp-area="" asp-controller="Home" asp-action="absa">Sasfin Bank</button>
            <button asp-area="" asp-controller="Home" asp-action="absa">State Bank of India</button>
            <button asp-area="" asp-controller="Home" asp-action="absa">uBank</button>
            <button asp-area="" asp-controller="Home" asp-action="absa">VBS Mutual Bank</button>
            <button asp-area="" asp-controller="Home" asp-action="absa">Wonga</button>*@
           
        </div>

    </section>
