@using BootstrapTemplate.Models;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewData["Title"] - BootstrapTemplate</title>
    @* Links to stylesheets *@
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" />
    <link rel="stylesheet" href="~/admin-lte/css/AdminLTE.css" />
    <link rel="stylesheet" href="~/admin-lte/css/skins/_all-skins.css" />
    <link href="~/fontawesome/4.7.0/Content/Content/font-awesome.css" rel="stylesheet" />

    @*Link to jquery*@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</head>

<body class="hold-transition skin-blue sidebar-mini">
   
    <div class="wrapper">
        <header class="main-header">
            <a class="logo" style="height:110px;background-color:#222d32">
                <span class="logo-mini"><strong>DT</strong></span>
                <span class="logo-lg"><img  src="~/Images/Direct-Transact-ReconHub-Header.png" style="height:100px;width:172px;background-color:#222d32" /></span>
            </a>
            @*navbar*@
           @Html.Partial("_Navigation")

        </header>
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <
                <!-- /.search form -->
                <!-- Sidebar Menu -->
               @Html.Partial("_MainMenu")
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>




        <div>
            <main role="main" class="content-wrapper">
                @RenderBody()
            </main>
        </div>

        <aside class="control-sidebar control-sidebar-dark">
            @Html.Partial("_Config")
        </aside>

        <footer class="main-footer">
            <strong>Copyright © 2020 <a href="https://www.directtransact.co.za/">Direct Transact Pty Ltd</a>.</strong>All rights reserved.
        </footer>
       
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/admin-lte/js/adminlte.js"></script>
        <script src="~/admin-lte/js/Custom.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </div>
    
</body>
</html>
